<h2>Your Profile Details</h2>

<p><label>First Name</label> : {{newUser.firstName}}</p>
<p><label>Last Name</label>: {{newUser.lastName}}</p>
<p><label>Email</label>: {{newUser.email}}</p>
<p><label>City</label>: {{newUser.city}}</p>
<p><label>State</label> : {{newUser.state}}</p>

{{!-- <form id="login-form" method="GET" action="/profileupdate">

    <button type="submit">Update Profile</button>
    <br>
    <br>
</form> --}}

<a href="/profileupdate"> Update Your Profile</a>
<br>
<br>
<br>


{{!-- <a href="/deleteAccount"> Delete Your Account</a> --}}
<form id="login-form" method="DELETE" action="/deleteAccount">
    <button type="submit">Delete Account</button>
    <br>
    <br>
</form>
<p>This will delete all of your posted issues and your Account parmanently!!</p>