<h1>Profile page</h1>
<p>{{sessionInfo}}</p>
<p><label>First Name</label> : {{newUser.firstName}}</p>
<p><label>Last Name</label>: {{newUser.lastName}}</p>
<p><label>Email</label>: {{newUser.email}}</p>
<p><label>City</label>: {{newUser.city}}</p>
<p><label>State</label> : {{newUser.state}}</p>
<p><label>Category</label> : {{newIssue.Category}}</p>
<p><label>Date</label>: {{newIssue.date}}</label></p>
<p><label>Latitude</label> : {{newIssue.latitude}}</p>
<p><label>Longitude</label>: {{newIssue.longitude}}</label></p>
<p><label>Longitude</label>: {{newIssue.longitude}}</label></p>













