<p>{{sessionInfo}}</p>

<p>Inside View All My Issues</p>
{{#each issueByUserId}}
    <p><label>Name</label> : {{this.name}}</p>
    <p><label>Category</label> : {{this.category}}</p>
    <p><label>Date</label>: {{this.date}}</p>
    <p><label>Latitude</label>: {{this.latitude}}</p>
    <p><label>Longitude</label>: {{this.longitude}}</p>
    <p><label>City</label>: {{this.city}}</p>
    <p><label>State</label> : {{this.state}}</p>
    <p><label>Status</label> : {{this.status}}</p>
    <p><label>Likes</label> : {{this.likes}}</p>
    <p>Comments:</p>
    {{#each this.comments}}
        <p><label>{{this.name}}</label> : {{this.content}}</p>
    {{/each}}
    <a href="/issueUpdate/{{this._id}}"> Update Your Issue</a>
    <form method="POST" action="/issueDelete/{{this._id}}">
    <button type="submit">Delete Issue</button>
    </form>
    <br>
{{/each}}